/* Main window */
body{
    background: Gainsboro;
    min-width: 50%;
}
#body-container{
    min-height: 100vh;
}
#content{
    min-height: 34vh;
}
#createTest{
    margin-bottom: 1vh;
}
#body-footer,
#footer-btns{
    margin-bottom: 1vh;
}
.btn.col{
    margin-right: 1vw;
    margin-left: 1vw;
}
.alert-container{
    min-height: 9vh;
}
.progress{
    margin-bottom: 1rem;
}
.alert.alert-info{
    background-color: #95dbe9;
}
.table-bordered{
    border-color: #a2a2a3;
}
.table-primary:hover{
    background-color: rgb(45, 136, 189);
}
.table-primary.clicked th, 
.table-primary.clicked td,
.btn.btn-primary{
    background-color: rgb(45, 136, 189);
}
.button.btn-warning{
    background-color: rgb(202, 163, 46);
}
.btn.btn-success{
    background-color: rgb(21, 172, 96);
}
.btn.btn-danger{
    background-color: rgb(206, 74, 22);
}

/* Add test window */
#edit-value-modal{
    padding-top: 0;
    padding-bottom: 0;
}