
body{
    background: Gainsboro;
    text-align: center;
    min-width: 50%;
}

.relative {
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.relative button {
float: left;
}

button {
    background: rgba(7, 99, 53, .1);
    border: 3px solid rgba(7, 99, 53, 1);
    border-radius: 5px;
    color: rgba(7, 99, 53, 1);
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
    outline: none;
    padding: 0 20px;
    transition: all .3s;
}
button:hover {
    background: rgba(7, 99, 53, 1);
    color: rgba(255,255,255,1);
}
p {
    font-size: 20px;
    font-weight: bold;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
